.navbar {
  position: "fixed";
  top: 0;
  width: "100%";
  background-color: #e4000f;
  color: white;
  padding: "10px";
  padding: 0.75rem;
}

.navbar-link {
  text-decoration: none;
  color: white;
  margin-left: 0.75rem;
}
