.song-page-title {
  font-size: large;
  color: #e4000f;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 5px;
}

.song-page-main-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.song-page-artist-name {
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: #e4000f;
  margin-top: 0;
}

.song-page-artist-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.song-page-lyrics-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.song-page-lyrics-line {
  margin: 5px;
}
